<html>
    <head>
        <meta name="viewport"  content="width=device-width, initial-scale=1">
        <title>Feedback Form</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <style>
    .feedback{
        align-content:center;
        color:rgb(224, 22, 22);
    }

    a{
        color: blue;
    }
    </style> 
    </head>
    <body>
    <div class="container">
        <h1 class="feedback">Thank You</h1>
        <hr style="border-color: rgb(113, 140, 230);border-width:3px;">
        <br>
        <h4 class="feedback">Give us Feedback about your Experience with {Pages}</h4>
        <a  href="https://docs.google.com/forms/d/e/1FAIpQLSe4jwoHRCIvD1yl_3pwWHF3J0ySUY0h8Jbn-tFchUh0BBrGng/viewform?usp=sf_link">Send Feedback</a>

    </div>

    </body>
</html>