<!DOCTYPE html>
<html>
<head>
  <title>PayPal</title>
</head>
<body>
<h1>Medicine</h1>
<h2>buy for $25  using PayPal </h2>
<form action="pay" method="POST">
    <input type="submit"  value="Buy"> 
    <script src="https://www.paypal.com/sdk/js?client-id=AXchkJmZke6IW8-p-tIEadCJMgWBwTqkrTbyXy-omhnVPPMFnTrJ0G7eN4cljfXJMTBkOWMMtTjsWeXh"></script>
    <script>paypal.Buttons().render('body');</script>
    
    
    
</form>

</body>
</html>